.inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--color-white);
	color: var(--color-black);
	padding: 80px 20px 120px;
	border-radius: 80px;
	position: sticky;
	top: 0;
	z-index: 2;
	@media (width <= 768px) {
		padding-block: 48px 80px;
		border-radius: 32px;
	}
}

.footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 40px;
	justify-content: space-between;
	max-inline-size: 960px;
	margin-inline: auto;
	padding-block: 24px;
	border-width: 1px 0px 1px 0;
	margin-top: 60px;
	@media (width <= 768px) {
		column-gap: 20px;
	}
	& .pager {
		display: flex;
		align-items: center;
		column-gap: 4px;
		transition: color .2s;
		&:nth-of-type(1) {
			justify-self: start;
			&::before {
				content: "";
				display: inline-block;
				mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%23e3e3e3%22%3E%3Cpath%20d%3D%22m321-80-71-71%20329-329-329-329%2071-71%20400%20400L321-80Z%22%2F%3E%3C%2Fsvg%3E");
				mask-size: contain;
				mask-repeat: no-repeat;
				block-size: 22px;
				inline-size: 40px;
				background-color: currentColor;
				transform: rotate(180deg);
			}
		}

		&:nth-of-type(2) {
			justify-self: end;
			&::after {
				content: "";
				display: block;
				mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%23e3e3e3%22%3E%3Cpath%20d%3D%22m321-80-71-71%20329-329-329-329%2071-71%20400%20400L321-80Z%22%2F%3E%3C%2Fsvg%3E");
				mask-size: contain;
				mask-repeat: no-repeat;
				block-size: 22px;
				inline-size: 40px;
				background-color: currentColor;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-main-blue);
			}
		}
	}
}
