/* NProgress styles */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #f97316;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #f97316, 0 0 5px #f97316;
	opacity: 1;
	transform: rotate(3deg) translate(0px, -4px);
}
