.header {
	padding-inline: 24px;
	& .inner {
		margin-inline: auto;
		padding-block: 0 40px;
		max-inline-size: var(--container-width-normal);
		display: grid;
		row-gap: 20px;
		@media (width <= 768px) {
			row-gap: 12px;
		}
	}

	& .title {
		font-size: calc(44 * var(--rem));
		font-weight: 700;
		@media (width <= 768px) {
			font-size: calc(28 * var(--rem));
		}
	}

	& .catList {
		display: flex;
		align-items: center;
		column-gap: 20px;
		flex-wrap: wrap;
	}

	& .cat {
		border: 1px solid var(--color-white);
		padding: 6px 12px;
		border-radius: 8px;
	}
}
